
.body{
    position: relative;
}
.body>div{
    display: inline-block;
   vertical-align: top;
    
}
#app {
    font-family: 宋体,黑体,Arial, sans-serif,;
    padding: 40px;
    transition: all 0.5s ease;
    font-size: 16px;
    min-height: 100px;
    border-left: 3px solid #3498db;
    padding-left: 20px;
    width: 48%;
    /* //background-color: #3498db; */
}
.highlight {
    background-color: yellow;
    padding: 2px 5px;
}
.resume {
    font-size: 24px;
    border: 1px solid #3498db;
    /* width: 21cm;
    height: 29.7cm; */
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: width 2s, height 2s, transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
}